<nav class="navbar navbar-expand-lg split-nav">
    <div class="container-fluid px-0">
        <a class="nav-logo d-flex align-items-center justify-content-center flex-shrink-0" href="/">
            <img src="/assets/pteroicon.png" alt="Pteronaps">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#charadexnav" aria-controls="charadexnav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse nav-menu-strip ml-lg-3 mt-2 mt-lg-0" id="charadexnav">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">
                    <a class="nav-link" href="/">Pteronaps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Explore <i class="fas fa-chevron-down nav-link-icon fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <a class="dropdown-item" href="/species/">About Species & Traits</a>
                        <a class="dropdown-item" href="/world/">About World</a>
                        <a class="dropdown-item" href="/pets/">About Pets</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://toyhou.se/~world/68456.pteronaps">Toyhou.se</a>
                        <a class="dropdown-item" href="https://discord.gg/G7PVCa24Me">Discord Server</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Catalogue <i class="fas fa-chevron-down nav-link-icon fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <a class="dropdown-item" href="/masterlist/">Species Masterlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/prompts/">Prompts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/items/">Item Catalogue</a>
                        <a class="dropdown-item" href="/inventories/">Player Inventories</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Help <i class="fas fa-chevron-down nav-link-icon fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <a class="dropdown-item" href="/staff/">About Us</a>
                        <a class="dropdown-item" href="/terms/">TOS</a>
                        <a class="dropdown-item" href="/faq/">FAQ</a>
                        <a class="dropdown-item" href="/bases/">F2U Bases</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://toyhou.se/~messages/create/kikos">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
