---
layout: layout.html
title: Player Inventories
pageScript: "inventory(options.inventory);"
---

<!-- Player Inventories -->
<div class="container-fluid text-center softload" id="main-container">

    <!-- Gallery Container -->
    <div id="charadex-gallery">

        <!-- Filters -->
        <div class="card p-md-5 p-4 mb-4">

            <h3 class="mb-0"><a href="inventories.html">Player Inventories</a></h3>

            {% include "charadex-filter-buttons.html" %}
            {% include "charadex-filters.html" %}
            {% include "charadex-pagination.html" %}

        </div>

        <!-- Repeated Items Render Here -->
        <ul class="row no-gutters list list-unstyled m-n1"></ul>

    </div>

</div>


<!-- Repeat Items (do not remove 'display:none;') -->
<div style="display:none;">

    <!-- Gallery Items -->
    <li class="col-md-4 col-sm-6 p-1" id="charadex-entries">
        <a class="card px-4 py-3 cardlink text-truncate" href="">
            <h5 class="m-0"><span class="username"></span></h5>
        </a>
    </li>

    <!-- Singular Item -->
    <li class="col-12 p-2" id="charadex-card">
        <div class="card">
            <h2 class="card-header text-center p-4"><span class="text-capitalize username"></span>'s Inventory</h2>
            <div class="px-md-5 pb-md-5 pt-md-0 p-4" id="item-list"></div>
            <div class="d-none">
                <div class="mt-md-5 mt-4" id="item-list-section">
                    <h4 id="item-list-header"></h4>
                    <div class="row no-gutters m-n2" id="item-list-row"></div>
                </div>

                <!-- Each section's items -->
                <div class="col-md-4 col-6 p-2" id="item-list-col">
                    <div class="card d-block text-center bg-faded p-2">
                        <img class="item-img img-fluid gallery-img" src="">
                        <a class="btn btn-primary d-block mt-3 itemlink" href="">
                            <span class="item"></span> x<span class="amount"></span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="p-5">
                <h3>Owned Pteronaps & Waternaps</h3>
                <span class="ownedcharacters row no-gutters"></span>
            </div>
            <div class="p-md-5 p-4">
                <h4>Transaction Log</h4>
                <div class="pl-4" id="log-table">
                    <div class="d-none">
                        <div class="row no-gutters" id="log-entry">
                            <div class="col-md-3"><span class="timestamp"></span></div>
                            <div class="col-md-9"><span class="reason"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

</div>
