---
layout: layout.html
title: Traits
pageScript: "charadexLarge(options.traits);"
---

<!-- Trait Catalogue -->
<div class="container-fluid text-center softload" id="main-container">

    <!-- Gallery Container -->
    <div id="charadex-gallery">

        <!-- Filters -->
        <div class="card p-md-5 p-4 mb-4">

            <h3 class="mb-0"><a href="traits.html">Trait Catalogue</a></h3>

            {% include "charadex-filter-buttons.html" %}
            {% include "charadex-filters.html", customFilter: true, searchFilter: true %}
            {% include "charadex-pagination.html" %}

        </div>

        <!-- Repeated Items Render Here -->
        <ul class="row no-gutters list list-unstyled m-n2"></ul>

    </div>

</div>


<!-- Repeat Items (do not remove 'display:none;') -->
<div style="display:none;">

    <!-- Faux Folder Buttons -->
    <div class="col-lg-3 col-md-4 col-sm-6 p-1" id="charadex-filter-buttons">
        <a class="btn btn-primary d-block" href=""></a>
    </div>

    <!-- Gallery Items -->
    <li class="col-lg-3 col-sm-6 p-2" id="charadex-entries">
        <a class="card h-100 cardlink" href="">
            <h5 class="card-header text-center trait"></h5>
            <div class="card-body d-flex flex-fill">
                <img class="image img-fluid m-auto" src="" oncontextmenu="return false">
            </div>
        </a>
    </li>

    <!-- Singular Item -->
    <li class="col-12 p-2" id="charadex-card">

        <!-- Actual Card -->
        <div class="card">

            <!-- Header -->
            <h2 class="card-header text-center p-4 trait"></h2>

            <!-- Main Info -->
            <div class="row no-gutters p-md-5 p-4">

                <!-- Image -->
                <div class="col-md-4 p-3">
                    <div class="mx-auto w-100 text-center" oncontextmenu="return false">
                        <img class="image img-fluid" src="">
                    </div>
                </div>

                <!-- Information List -->
                <div class="col-md-8 p-3">

                    <!-- Item -->
                    <div class="d-flex justify-content-between mb-2">
                        <b class="text-muted">Type</b>
                        <span class="type"></span>
                    </div>

                    <!-- Item -->
                    <div class="d-flex justify-content-between mb-2">
                        <b class="text-muted">Rarity</b>
                        <span class="rarity"></span>
                    </div>

                    <!-- Item -->
                    <div class="d-flex justify-content-between mb-2">
                        <b class="text-muted">Price</b>
                        <span class="Price"></span>
                    </div>

                    <hr>

                    <!-- Item -->
                    <div class="">
                        <b class="text-muted">Description</b>
                        <div class="pl-4 text-pre description"></div>
                    </div>

                    <!-- Add more list items above this line -->
                </div>
            </div>
        </div>
    </li>

</div>
